/* Reset CSS */
* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

html,
body {
  height: auto;
  min-height: 100vh;
}

html {
  background: linear-gradient(180deg, #ea03ff 0%, #0097ff 100%);
}

input:focus {
  outline: none;
}

/* Register-container */
#register-container {
  max-width: 900px;
  min-height: 80vh;
  margin: 2rem auto;
  display: flex;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* Register-banner */
#register-banner {
  background-image: url("../img/bg-form.jpg");
  background-position: center;
  background-size: cover;
  width: 50%;
}

/* Banner-layer */
#banner-layer {
  background-color: rgb(25, 11, 122, 0.7);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

#banner-layer h1 {
  font-size: 3.3rem;
  color: #fff;
  margin-bottom: 1.5rem;
  word-spacing: 25rem;
}

/* Register-form  */
#register-form {
  background-color: #fdfdfd;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

#register-form h2 {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 1rem;
}

#register-form p {
  font-size: 0.8rem;
  color: #aaa;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Form-control */
.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.form-control input {
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 0.6rem 0;
}

/* Generate-password */
#generate-password {
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}

#generate-password:hover {
  color: #0097ff;
}

/* Generated-password */
#register-form #generated-password {
  border: 1px solid #0097ff;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #333;
  padding: 0.4rem;
  margin-bottom: 1rem;
  /* display: none; */
}

#register-form #generated-password p {
  color: #81d340;
  margin-bottom: 0.5rem;
}

/* Register-form input */
#register-form input[type="submit"] {
  background-color: #81d340;
  border: none;
  border-radius: 2rem;
  opacity: 0.8;
  max-width: 150px;
  padding: 1rem 1.4rem;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  align-self: flex-end;
  cursor: pointer;
  transition: 0.4s ease;
}

#register-form input[type="submit"]:hover {
  transform: translateY(-5px);
  opacity: 1;
}

#register-form input[type="submit"]:active {
  transform: scale(0.91);
}

/* #generate-options .form-control {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
} */
