/* Reset CSS */
* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

html,
body {
  height: auto;
  min-height: 100vh;
}

html {
  background: linear-gradient(180deg, #ea03ff 0%, #0097ff 100%);
}

input:focus {
  outline: none;
}

#register-container {
  max-width: 900px;
  min-height: 80vh;
  margin: 2rem auto;
  display: flex;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* #register-form{

} */

#register-banner {
  background-image: url("../img/bg-form.jpg");
  background-position: center;
  background-size: cover;
  width: 50%;
}

#banner-layer {
  background-color: rgb(25, 11, 122, 0.7);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

#banner-layer h1 {
  font-size: 3.3rem;
  color: #fff;
  margin-bottom: 1.5rem;
  word-spacing: 25rem;
}

#register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  margin: 20px auto;
}

#register-form h2 {
  font-size: 2rem;
  margin: 0 auto;
}

#register-form p {
  font-size: 0.9rem;
  color: grey;
  margin: 10px auto;
}

#generate-password {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

#register-form input[type="submit"] {
  flex: 1;
  padding: 15px 5px;
  border: none;
  border-radius: 10px;
  width: 120px;
  height: 100px;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: rgb(7, 225, 73);
  align-self: flex-end;
}

.form-control {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 10px;
}

.form-control label {
  margin-bottom: 10px;
}

.form-control input {
  padding: 10px 0;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  text-align: left;
}
